<h1 class="text-center text-2xl font-bold my-4">Checkout</h1>

<div class="container mx-auto">
  <div class="flex justify-center">
    <div class="w-full max-w-lg">
      <%= form_with model: @order, local: true, class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" do |f| %>
        <div class="mb-4">
          <%= f.label :receiver_name, class: "block text-gray-700 text-sm font-bold mb-2" %>
          <%= f.text_field :receiver_name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>
        <div class="mb-4">
          <%= f.label :address, class: "block text-gray-700 text-sm font-bold mb-2" %>
          <%= f.text_field :address, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>
        <div class="mb-4">
          <%= f.label :city, class: "block text-gray-700 text-sm font-bold mb-2" %>
          <%= f.text_field :city, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>
        <div class="mb-4">
          <%= f.label :zip, class: "block text-gray-700 text-sm font-bold mb-2" %>
          <%= f.text_field :zip, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>
        <div class="mb-4">
          <%= f.label :province_id, 'Province', class: "block text-gray-700 text-sm font-bold mb-2" %>
          <%= f.collection_select :province_id, Province.all, :id, :name, {}, { class: "block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline" } %>
        </div>
        <div class="mb-4">
          <%= f.label :shipping_type_id, 'Shipping Type', class: "block text-gray-700 text-sm font-bold mb-2" %>
          <%= f.collection_select :shipping_type_id, ShippingType.all, :id, :name, {}, { class: "block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline" } %>
        </div>
        <div class="text-center">
          <%= f.submit 'Place Order', class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="flex justify-center mt-10">
    <div class="w-50 max-w-2xl">
      <h2 class="text-center text-xl font-bold mb-4">Order Summary</h2>
      <table class="min-w-full leading-normal shadow-md rounded-lg overflow-hidden">
        <thead>
          <tr>
            <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Product</th>
            <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Quantity</th>
            <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Price</th>
            <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Total</th>
          </tr>
        </thead>
        <tbody>
          <% @shopping_cart_items.each do |item| %>
            <tr>
              <td class="px-5 py-2 border-b border-gray-200 bg-white text-sm"><%= item.product.name %></td>
              <td class="px-5 py-2 border-b border-gray-200 bg-white text-sm"><%= item.quantity %></td>
              <td class="px-5 py-2 border-b border-gray-200 bg-white text-sm"><%= number_to_currency(item.product.price) %></td>
              <td class="px-5 py-2 border-b border-gray-200 bg-white text-sm"><%= number_to_currency(item.quantity * item.product.price) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
