<div class="container mx-auto mt-8">
  <h1 class="text-3xl font-bold mb-4 text-center"><%= @product.name %></h1>

  <div class="flex flex-wrap justify-center">
    <div class="w-full md:w-1/2 p-4">
      <% if @product.image.attached? %>
        <%= image_tag url_for(@product.image), class: "w-full h-auto object-cover" %>
      <% else %>
        <p>No image available</p>
      <% end %>
    </div>

    <div class="w-full md:w-1/2 p-4">
      <div class="product-info">
        <p><strong>Description:</strong> <%= @product.description %></p>
        <p><strong>Author:</strong> <%= @product.author %></p>
        <p><strong>Price:</strong> <%= number_to_currency(@product.price) %></p>
        <p><strong>In Stock:</strong> <%= @product.number_in_stock %></p>
        <p><strong>Category:</strong> <%= link_to @product.category.name, products_path(category_id: @product.category_id), class: "text-indigo-600 hover:text-indigo-900" %></p>
      </div>

      <%= form_with url: shopping_cart_items_path, method: :post, local: true do |f| %>
        <%= f.hidden_field "shopping_cart_item[product_id]", value: @product.id %>
        <%= f.number_field "shopping_cart_item[quantity]", value: 1, min: 1, class: "w-16 text-center border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
        <%= f.submit 'Add to Cart', class: "mt-2 px-4 py-2 bg-green-600 text-white rounded-md shadow-sm hover:bg-green-700" %>
      <% end %>
    </div>
  </div>

  <div class="mt-8">
    <h2 class="text-2xl font-bold mb-4">Other books in the same category</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
      <% @related_products.each do |related_product| %>
        <% if related_product.image.attached? %>
          <div class="product border border-gray-300 rounded-md p-4">
            <h2 class="text-xl font-bold mb-2"><%= link_to related_product.name, product_path(related_product), class: "text-indigo-600 hover:text-indigo-900" %></h2>
            <p class="text-lg font-medium text-gray-700 mb-2"><%= number_to_currency(related_product.price) %></p>
            <%= image_tag url_for(related_product.image), class: "w-full h-48 object-cover" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="mt-8 text-center">
    <%= link_to 'Back to Products', products_path, class: "px-4 py-2 bg-black text-white rounded-md shadow-sm hover:bg-gray-800" %>
  </div>
</div>
