<h1 class="text-3xl font-bold mb-6 text-center">Shopping Cart</h1>

<div class="container mx-auto">
  <% if @shopping_cart_items.any? %>
    <div class="space-y-4">
      <% @shopping_cart_items.each do |item| %>
        <% product = item.product || Product.find_by(id: item['product_id']) %>
        <div class="border border-gray-300 rounded-md p-4 bg-white">
          <div class="space-y-2">
            <div class="flex items-center space-x-4">
              <% if product&.image&.attached? %>
                <%= image_tag product.image, class: "w-16 h-16 object-cover" %>
              <% end %>
              <div>
                <% if product %>
                  <h2 class="text-xl font-bold"><%= product.name %></h2>
                  <p class="text-lg"><%= number_to_currency(product.price) %></p>
                <% else %>
                  <h2 class="text-xl font-bold">Product not found</h2>
                <% end %>
              </div>
            </div>
            <div>
              <% if user_signed_in? %>
                <%= form_with(model: item, url: shopping_cart_item_path(item), method: :patch, local: true) do |form| %>
                  <div class="flex items-center space-x-2">
                    <%= form.number_field :quantity, value: item.quantity, min: 1, class: "w-16 text-center border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" %>
                    <%= form.submit 'Update', class: "px-2 py-1 bg-blue-600 text-white rounded-md hover:bg-blue-700" %>
                  </div>
                <% end %>
              <% else %>
                <%= form_with(url: shopping_cart_item_path(item['product_id']), method: :patch, local: true) do |form| %>
                  <div class="flex items-center space-x-2">
                    <%= form.number_field :quantity, value: item['quantity'], min: 1, class: "w-16 text-center border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" %>
                    <%= form.hidden_field :product_id, value: item['product_id'] %>
                    <%= form.submit 'Update', class: "px-2 py-1 bg-blue-600 text-white rounded-md hover:bg-blue-700" %>
                  </div>
                <% end %>
              <% end %>
            </div>
            <div>
              <% if user_signed_in? %>
                <% total_price = item.total_price_with_tax %>
                <% Rails.logger.debug "User signed in: item: #{item.inspect}, product: #{product.inspect}, total_price_with_tax: #{total_price}" %>
              <% else %>
                <% total_price = item['quantity'].to_i * product.price %>
                <% Rails.logger.debug "User not signed in: item: #{item.inspect}, product: #{product.inspect}, total_price: #{total_price}" %>
              <% end %>
              <p class="text-lg font-bold">Total: <%= number_to_currency(total_price) %></p>
            </div>
            <div>
              <% if user_signed_in? %>
                <%= button_to 'Remove', shopping_cart_item_path(item), method: :delete, data: { confirm: 'Are you sure?' }, class: "px-2 py-1 bg-red-600 text-white rounded-md hover:bg-red-700" %>
              <% else %>
                <%= button_to 'Remove', shopping_cart_item_path(item['product_id']), method: :delete, data: { confirm: 'Are you sure?' }, class: "px-2 py-1 bg-red-600 text-white rounded-md hover:bg-red-700" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="text-center">Your cart is empty.</p>
  <% end %>

  <% if @shopping_cart_items.any? %>
    <div class="mt-6 text-center">
      <%= link_to 'Checkout', new_order_path, class: 'px-4 py-2 bg-green-600 text-white rounded-md hover:bg-green-700' %>
    </div>
  <% end %>
</div>