<!DOCTYPE html>
<html>
  <head>
    <title>ReaditOnlineBookstore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="bg-gray-800 text-white p-4">
      <div class="container mx-auto flex justify-between items-center">
        <h1 class="text-xl"><%= link_to "ReaditOnlineBookstore", root_path %></h1>
        <nav>
          <ul class="flex space-x-4">
            <li><%= link_to "Home", root_path, class: "text-white hover:text-gray-400" %></li>
            <li><%= link_to "Contact", contact_path, class: "text-white hover:text-gray-400" %></li>
            <li><%= link_to "About", about_path, class: "text-white hover:text-gray-400" %></li>
            <% if user_signed_in? %>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "text-white hover:text-gray-400" %></li>
            <% else %>
              <li><%= link_to "Register", new_user_registration_path, class: "text-white hover:text-gray-400" %></li>
              <li><%= link_to "Login", new_user_session_path, class: "text-white hover:text-gray-400" %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <main class="container mx-auto px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
